
@font-face {
  font-family: "Mist";
  src: url("/assets/showcase/Mist-Regular.ttf");
}

h1 {
  font-family: "Slabo 27px", serif;
  font-size: 2.8em;
  text-transform: uppercase;
}

.small-banner {
  width: 100vw;
  height: 20vh;
  background-size: cover;
  background-position: center;
}

.full-screen {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.slogan {
  text-align: center;
  padding-top: 10vh;
  padding-right: 15vw;
  font-family: "Mist", sans-serif;
  line-height: 1.25;
  color: #f8f8f8;
  font-size: 22px;
  opacity: 0.75;

  img {
    height: 100px;
  }
}

.font-mist {
  font-family: "Mist", sans-serif;
}

.separator {
  width: 1px;
  height: 35px;
  background: rgba(199, 199, 199, 0.7);
  margin: 0px 8px;
}

.big-white-separator {
  width: 1px;
  height: 55px;
  background: #f8f8f8;
  margin: 0px 15px;
}

.items-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.items-list, .item-card {
  margin: $spacer * .25;
}

.text-white {
  color: #f8f8f8;
}

.text-light-blue {
  color: #79ace2;
}

.font-size-2 {
  font-size: 1.3em;
}

.font-size-3 {
  font-size: 1.6em;
}

.font-size-4 {
  font-size: 1.9em;
}

a.text-light-blue:hover {
  color: #5a9add;
  text-decoration: underline;
}

.tran-gray-background {
  background: rgba(66, 66, 66, 0.45);
}

.bg-dark {
  background: rgb(66, 66, 66);
}

.item-card:hover {
  color: #f8f8f8;
  text-decoration: unset;
}

.item-card {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  padding-bottom: 1.5em;
  display: flex;
  align-items: flex-end;
  color: #f8f8f8;
  max-width: 800px;

  .item-banner {
    padding: .3em;
    display: flex;
    align-items: center;
  }

  .item-name {
    text-transform: uppercase;
    font-family: "Slabo 27px", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
  }

  .item-summary {
    flex-shrink: 1;
    font-family: "Oswald", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

}

@media (min-width: 768px) {
  .small-banner {
    height: 40vh;
  }

  h1 {
    font-size: 4em;
  }

  .items-list, .item-card {
    margin: $spacer * .75;
  }

  .item-card {
    .item-banner {
      max-width: 75%;
      padding: .6em;
    }

    .item-name {
      font-size: 30px;
    }

    .item-summary {
      font-size: 20px;
    }
  }

  .separator {
    margin: 0px 15px;
  }

  .slogan {
    font-size: 40px;
    padding: 20px;
    padding-right: 16vw;
    padding-top: unset;
    img {
      height: unset;
    }
  }

  .gradient-nav {
    font-size: 30px;
  }
}