
logs
project/project
project/target
target
tmp
.history
dist
.classpath
.cache
.settings
bin
.target
.project
RUNNING_PID
/.idea/
/.idea*
*.swp

# SENSITIVE INFORMATION
application.conf
securesocial.conf
