
logs
project/project
project/target
target
tmp
.history
dist
.classpath
.cache
.settings
bin
.target
.project
RUNNING_PID
/.idea/
/.idea*
*.swp
*.DS_Store

# SENSITIVE INFORMATION
/conf/application.conf
/conf/securesocial.conf
