@(uuid: String, entryForm: Form[controllers.chili.EntryDto])

@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>Chili Voting System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chili-global.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chili-public.css")">

        <link href="@routes.Assets.at("images/chili-favicon.ico")" rel="shortcut icon" type="image/x-icon" />

        <!-- Javascripts -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/knockout-3.0.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/knockout.mapping-latest.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

        <link href='http://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Bubblegum+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <a href="https://github.com/freiguy1/playground"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

        <div class="loading-overlay" data-bind="visible: loading">
            <img src="@routes.Assets.at("images/loading.gif")" alt="loading..." style="position: fixed; left:50%; top:50%;"></img>
        </div>
        <div class="container main-content">
            <div class="vote-container">
                <div class="header-container">
                    <span class="title">Chili Cook Off</span>
                    <span class="header-deco-container">
                        <span class="deco-line-container hidden-xs">
                            <span class="deco-line-long"></span>
                            <span class="deco-line-short pull-right"></span>
                        </span>
                        <span class="header-deco">2<sup>nd</sup><!--Second--> Annual</span>
                        <span class="deco-line-container hidden-xs">
                            <span class="deco-line-long"></span>
                            <span class="deco-line-short"></span>
                        </span>
                    </span>
                </div>

                <h3>Hello</h3>
                @form(action = controllers.chili.routes.Application.uuidUpdateEntrySubmit(uuid)) {
                    @inputText(entryForm("name"))
                    @inputText(entryForm("number"))
                    @inputText(entryForm("chefName"))
                    @select(entryForm("spicyLevel"), Seq(("Mild", "Mild"), ("Medium", "Medium"), ("Hot", "Hot")))
                    @inputText(entryForm("description"))

                    <button type="submit" class="btn btn-default">Update</button>
                }

            </div>
            <div class="admin-link">
                <a href="@controllers.chili.routes.Application.admin">Administrate</a>
            </div>
        </div>

        <script src="@routes.Assets.at("javascripts/chili/ajax.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/chili/index.js")" type="text/javascript"></script>
    </body>
</html>
