@(balance: models.balance.Balance)

@main {

    <div class="container">
        <h1>the balance keeper <small>keeping your balance since 2014</small></h1>
	<div class="row">
	    <div class="col-md-6">
		<h1 data-bind="text: balanceAmountDisplay" style="text-align: center;">@balance.amount</h1>
		<form class="form-inline" style="text-align: center;" role="form">
		    <div class="form-group">
			<input type="number" class="form-control" id="transactionAmountInput" placeholder="amount (+/-)" step=".25" required>
		    </div>
		    <div class="form-group">
			<input type="text" class="form-control" id="transactionNoteInput" placeholder="note (optional)" >
		    </div>
		    <button type="button" class="btn btn-default" data-bind="click: transactClicked">transact!</button>
		</form>
		<h4 style="margin-top: 40px; text-align: center;">I just bought a...</h4>
		<div class="text-center">
		    <div class="btn-group">
			<button type="button" class="btn btn-default" data-bind="click: function() { boughtClicked(-.5, 'pop') }">can o' pop</button>
			<button type="button" class="btn btn-default" data-bind="click: function() { boughtClicked(-.5, 'water') }">water</button>
			<button type="button" class="btn btn-default" data-bind="click: function() { boughtClicked(-5, 'pizza') }">pizza</button>
			<button type="button" class="btn btn-default" data-bind="click: function() { boughtClicked(-2, 'red bull') }">red bull</button>
			<button type="button" class="btn btn-default" data-bind="click: function() { boughtClicked(-1, 'snack') }">snack</button>
			<button type="button" class="btn btn-default" data-bind="click: function() { boughtClicked(-1.5, 'king candy') }">king candy</button>
		    </div>
		</div>
		<div style="margin: 20px 0px; text-align: center;">
		    <div class="btn-group" data-toggle="buttons" style="">
			<label class="btn btn-default">
			    <input type="radio" name="xMinimumToggle" value="month" data-bind="bsChecked: xMinimum">Last Month
			</label>
			<label class="btn btn-default">
			    <input type="radio" name="xMinimumToggle" value="week" data-bind="bsChecked: xMinimum">Last Week 
			</label>
		    </div>
		    <div id="line-graph" style="height: 225px;"></div>
		</div>
		<div id="pie-graph" style="height: 450px; margin: 20px 0px;"></div>
	    </div>
	    
	    <div class="col-md-6">
		<table class="table">
		    <thead>
			<tr>
			    <th>time</th><th>amount</th><th>note</th><th></th>
			</tr>
		    </thead>
		    <tbody>
			<!-- ko foreach: transactions -->
			<!-- ko if: isInDeleteMode() -->
			<tr style="background: #ffeef0">
			    <td data-bind="text: timeDisplay"/>
			       <td data-bind="text: amountDisplay"/>
			       <td data-bind="text: note"/>
			       <td>
				    <span class="glyphicon glyphicon-trash" style="color: #d9534f; cursor: pointer;" data-bind="click: clearTransactionsThrough, event: { mouseover: mouseOver, mouseout: mouseOut}"/>
			       </td>
			    </tr>
			<!-- /ko -->
			<!-- ko if: !isInDeleteMode() -->
			<tr>
			    <td data-bind="text: timeDisplay"/>
			       <td data-bind="text: amountDisplay"/>
			       <td data-bind="text: note"/>
			       <td>
				    <span class="glyphicon glyphicon-trash" style="color: #d9534f; cursor: pointer;" data-bind="click: clearTransactionsThrough, event: { mouseover: mouseOver, mouseout: mouseOut}"/>
			       </td>
			    </tr>
			<!-- /ko -->
			<!-- /ko -->
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
}
