@(balance: models.balance.Balance)

@main {

    <h1>The Balance Keeper <small>keeping your balance since 2014</small></h1>
    <div class="center-block"> 
	<h1 data-bind="text: balanceAmountDisplay" style="text-align: center;">@balance.amount</h1>
	<form class="form-inline" style="text-align: center;" role="form">
	<div class="form-group">
	    <input type="number" class="form-control" id="transactionAmountInput" placeholder="Amount" step=".01" required>
	<div class="form-group">
	    <input type="text" class="form-control" id="transactionNoteInput" placeholder="Note (Optional)" >
	</div>
	<button type="button" class="btn btn-default" data-bind="click: transactClicked">Transact!</button>
	</form>
    </div>
}
