h1 {
    font-size: 45px;
}

.winner {
    text-align: center;
    text-shadow: 2px 2px #3C3C3C;
}

.winner-entry-number {
    font-size: 50px;
}

.winner-entry-name {
    font-size: 42px;
}

.winner-entry-chef {
    position: relative;
    top: -10px;
}

.winner-entry-votes {
    font-size: 40px;
}

hr {
    border-top: 1px solid #555;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 50%;
}

.all-comments {
    display: none !important;
}

.chili-comment {
    color: #ccc;
    cursor: pointer;
}

.chili-comment:hover {
    color: #fff;
}

.comment {
    color: #696969;
    font-size: 130%;
    font-style: italic;
}

ul.result-list {
    list-style-type: none;
    -webkit-padding-start: 10px;
}

ul.result-list li {
    margin-bottom: 15px;
}

.result-entry-number {
    display: inline-block;
    font-size: 30px;
    width: 35px;
}

.result-entry-name {
    display: inline-block;
    font-size: 30px;
}

.result-entry-chef {
    color: #777;
    margin-left: 62px;
    position: relative;
    top: -7px;
}

.result-entry-votes {
    color: #eee;
}
