body {
  font-family: 'Oxygen', sans-serif;
  background-color: #F4F4F4;
  margin: 0;
} 

.content {
  margin: auto;
  width: 840px;
}

.available .hero,
.available.log-segment {
  background-color: #4BAE4F;
}

.unavailable .hero,
.unavailable.log-segment {
  background-color: #F34235;
}

.no-data .hero {
  background-color: #2F2F2F;
}

.hero {
  color: #FFFFFF;
  height: 320px;
  width: 100%;
}

.hero .content {
  padding: 80px 40px;
  text-align: center;
}

.hero .hero-title {
  font-size: 30px;
  font-weight: 300;
}

.hero .hero-subtitle {
  font-size: 60px;
  font-weight: 700;
}

.hero .hero-refresh {
  color: #EEEEEE;
}

.link {
  border-bottom: 2px dotted #3F51B5;
  cursor: pointer;
}

.link:hover {
  border-bottom: 2px solid #3F51B5;
}

.paused {
  display: none;
}

.content-section {
  background-color: #FFFFFF;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;
  top: -65px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-header {
  margin-bottom: 30px;
  text-align: center;
}

.section-header h3 {
  margin: 0;
  padding: 0;
}

.section-header p {
  color: #999;
  font-size: 12px;
}

.no-data .content-section p {
  text-align: center;
}

.history-log-container {
  border-radius: 20px;
  height: 40px;
  margin: 20px 0;
  overflow: hidden;
  width: 100%;  
}

.history-log {
  height: 100%;
  min-width: 101.5%;
  white-space: nowrap;
}

.log-segment {
  background-color: purple;
  display: inline-block;
  height: 100%;
  margin: 0 -2px;
}

.week-stats {
  margin: 40px 0 75px 0;
}

.time-stat {
  text-align: center;
}

.time-stat h3 {
  margin: 0;
}

.time-stat p {
  font-size: 18px;
}

.available-stat p {
  color: #4BAE4F;
}

.unavailable-stat p {
  color: #F34235;
}
