/* Text Selection Color */
::selection
{
    background: #ff6600; /* Safari */
    color: #ffffff;
}

::-moz-selection
{
    background: #ff6600; /* Firefox */
    color: #ffffff;
}

body {
    color: #555555;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-bottom: 100px;
}

a {
    color: #ff6600;
}

a:hover, a:focus {
    color: #dd5800;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-bold {
    font-weight: bold;
}

.text-light {
    font-weight: lighter;
}

.text-normal {
    font-weight: normal;
}

.mcis-brand-bar {
    border-bottom: 1px solid #ff6600;
    height: 50px;
}

.promo-viewer {
    background: url('../images/giftly-dark.png');
    height: 320px;
    margin-bottom: 20px;
    position: relative;

    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.75);
}

.promo-viewer .container {
    padding: 60px 15px;
}

.promo-viewer a {
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
}

.promo-viewer a:hover,
.promo-viewer a:focus {
    background: #fff;
    cursor: pointer;
}

.promo-text {
    color: #fff;
}

.promo-text-small {
    font-size: 14px;
}

.promo-text-large {
    font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 50px;
}

.points-leader {
    background: #ffffff;
    border-radius: 5px;
    float: right;
    width: 320px;
}

    .points-leader .title {
        background: #ff6600;
        border-radius: 5px 5px 0 0;
        color: #ffffff;
        font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    .points-leader .team-info {
        padding: 10px 20px;
    }

    .points-leader .team-name {
        font-size: 21px;
        font-weight: 600;
        line-height: 1;
    }

    .points-leader .team-captain {
        font-size: 14px;
        font-weight: 300;
    }

    .points-leader .points {
        font-size: 60px;
        font-weight: 600;
        line-height: .8;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: center;
    }

    .points-leader .points-label {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
    }

.points-leader-mobile {
    background: #ff6600;
    bottom: 0;
    color: #ffffff;
    position: absolute;
    width: 100%;
}

.promo-viewer .container-mobile {
    padding: 10px;
}

.container-mobile {
    padding: 10px;
}

.cup-logo {
    color: #2A2A2A;
    font-family: "Audiowide", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.winner {
    color: #ff6600;
    font-size: 35px;
    vertical-align: text-top;
}

.standings-container {
    max-width: 100%;
    overflow-y: auto;
}