.main-content {
    border-left: 2px dashed #555;
    border-right: 2px dashed #555;
    min-height: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.global-buttons {
    padding-top: 23px;
}

.container.main-content {
    padding-left: 0;
    padding-right: 0;
}

.team-info {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    padding-top: 30px;
}

.team-info:hover {
    background-color: #f8f8f8;
}

.team-info .row {
    padding-left: 15px;
    padding-right: 15px;
}

.team-info h3 {
    margin: 0;
}

.manage-icons button {
    margin-bottom: 5px;
    margin-left: 5px;
}

.manage-icons .fa {
    font-size: 20px;
}

.progress-wrapper {
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 20px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.team-progress-bar {
    height: 100%;
    min-width: 1px;
}

