@(log: models.mcisStatus.Log)

@import java.time.OffsetDateTime
@import java.time.LocalDateTime
@import java.time.format.DateTimeFormatter
@import models.mcisStatus.StatusSegment

@lastOptionClass = @{
    log.segments.lastOption match {
        case Some(recent) => if(recent.isAvailable) "available" else "unavailable" 
        case None => "no-data"
    }
}

@dateTimeFormat(dateTime: Object) = @{
    val stringFormat = "M/d/yyyy 'starting at' h:mm:ss"
    dateTime match {
        case date: OffsetDateTime => date.format(DateTimeFormatter.ofPattern(stringFormat)) 
        case date: LocalDateTime => date.format(DateTimeFormatter.ofPattern(stringFormat)) 
    }
}

@timeFormat(dateTime: Object) = @{
    val stringFormat = "h:mm:ss"
    dateTime match {
        case date: OffsetDateTime => date.format(DateTimeFormatter.ofPattern(stringFormat)) 
        case date: LocalDateTime => date.format(DateTimeFormatter.ofPattern(stringFormat)) 
    }
}

@totalDurationTime = @{
    if(log.segments.isEmpty) {
        0
    } else {
        log.segments.foldLeft(0){(sum, listItem) =>
            sum + listItem.durationMinutes
        }
    }
}

@totalUpTime = @{
    if(log.segments.isEmpty){
        0
    } else {
    log.segments.filter(_.isAvailable).foldLeft(0) {(sum, listItem) =>
            sum + listItem.durationMinutes
        }
    }
}

@totalDownTime = @{
    if(log.segments.isEmpty){
        0
    } else {
        log.segments.filter(!_.isAvailable).foldLeft(0) {(sum, listItem) =>
            sum + listItem.durationMinutes
        }
    }
}

@getTimePortion(time: Int) = @{
    val portionDouble = BigDecimal(time.toDouble / totalDurationTime.toDouble).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble 
    portionDouble * 100
}

@minutesToHoursDisplay(minutes: Int) = @{
    val hours = minutes.toDouble/60.0
    val fraction = hours % 1
    val remainingMinutes = fraction * 60
    val roundedHours = math.round(hours)
    val roundedMinutes = math.round(remainingMinutes)
    val hourText = if(roundedHours != 1) " hours" else " hour"
    val minuteText = if(roundedMinutes != 1) " minutes" else " minute"
    roundedHours + hourText + " and " + roundedMinutes + minuteText 
}

<!DOCTYPE html>
<html>
<head>
    <title>MCIS Clinicals Server Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mcis-status.css")">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body class="@lastOptionClass">
    <div class="hero">
        <div class="content">
            @defining(log.segments.lastOption) { mostRecent =>
                @mostRecent match {
                    case Some(recent) => {
                        <div class="hero-title">MCIS Services are</div>
                        @if(recent.isAvailable) {
                            <div class="hero-subtitle">Up and Running</div>
                        } else {
                            <div class="hero-subtitle">Down</div>
                        }
                    }
                    case None => {
                        <div class="hero-subtitle">No Data Available</div>
                    }
                }
            }
        </div>
    </div>
    
    <div class="content">
        @defining(log.segments.lastOption) { mostRecent =>
            @mostRecent match {
                case Some(recent) => {
                    @if(!recent.isAvailable) {
                    <div class="content-section">
                        <div class="section-header">
                            <h3>Error</h3> 
                        </div>
                        <p>@recent.errorText</p>
                    </div>
                    }
                }
                case None => {}
            }
        }
        <div class="content-section">
            <div class="section-header">
                <h3>Details</h3>
                <p>
                    Last refreshed at
                    <span id="last-refreshed" data-time="@log.lastRefresh.toInstant(java.time.ZoneOffset.UTC).toEpochMilli"></span>
                </p>
            </div>
            @defining(log.segments) { segments =>
                @if(segments.isEmpty) {
                    <p>Something went wrong while trying to grab the data. Please try again soon by refreshing the page.</p>
                } else {
                    <h4>Stats for the past week</h4>
                    <div class="history-log" data-total-time="@totalDurationTime">
                        @for(segment <- segments) {
                            @defining(getTimePortion(segment.durationMinutes) + "%") { portionDisplay =>
                            <div class="log-segment show-tooltip @if(segment.isAvailable) {available} else {unavailable}" style="width: @portionDisplay;" title="@if(segment.isAvailable) {Up} else {Down} for @segment.durationMinutes minutes on @dateTimeFormat(segment.startDateTime)"></div>
                            }
                        } 
                    </div>
                    <div class="week-stats">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="available-stat time-stat">
                                    <h3>@minutesToHoursDisplay(totalUpTime)</h3>
                                    <p>Up</p>
                                </div>
                            </div> 
                            <div class="col-sm-6"> 
                                <div class="unavailable-stat time-stat">
                                    <h3>@minutesToHoursDisplay(totalDownTime)</h3>
                                    <p>Down</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <h4>Full Log</h4>
                    <ul>
                        @for(segment <- segments) {
                            <li>
                                <span>@if(segment.isAvailable) { ON: } else { OFF: }</span>
                                <span>@dateTimeFormat(segment.startDateTime)</span>
                                <span>for @segment.durationMinutes minutes </span>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </div>

    <!-- Javascripts -->
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        (function() {
            var date = new Date($('#last-refreshed').data('time'));
            $('#last-refreshed').html(date.toTimeString());

            $('.show-tooltip').tooltip();
        })()
    </script>
</body>
</html>
