@()

@main("Playground style") {
<div class="container">
    <div class="row">
        <div class="visible-xs text-center"><h3><a href="@controllers.clone.routes.Application.index">Clone</a></h3></div>
        <div class="col-sm-2 text-right hidden-xs"><h3><a href="@controllers.clone.routes.Application.index">Clone</a></h3></div>
        <div class="col-sm-10" style="margin-top: 24px;">An application for chasing down valuable NPC 'clone's in the game EVE Online.</div>
    </div>
    <hr />
    <div class="row">
        <div class="visible-xs text-center"><h3><a href="@controllers.balance.routes.Application.index">Balance</a></h3></div>
        <h3 class="col-sm-2 text-right hidden-xs"><a href="@controllers.balance.routes.Application.index">Balance</a></h3>
        <div class="col-sm-10" style="margin-top: 24px;">Keeps track of your PARC coffee bucket balance and does some basic analytics.</div>
    </div>
    <hr />
    <div class="row">
        <div class="visible-xs text-center"><h3><a href="@controllers.mcisCup.routes.Application.index">MCIS Cup</a></h3></div>
        <h3 class="col-sm-2 text-right hidden-xs"><a href="@controllers.mcisCup.routes.Application.index">MCIS Cup</a></h3>
        <div class="col-sm-10" style="margin-top: 24px;">Displays and updates scores and other information involving the MCIS cup.</div>
    </div>
    <hr />
    <div class="row">
        <div class="visible-xs text-center"><h3><a href="@controllers.chili.routes.Application.index">Chili</a></h3></div>
        <h3 class="col-sm-2 text-right hidden-xs"><a href="@controllers.chili.routes.Application.index">Chili</a></h3>
        <div class="col-sm-10" style="margin-top: 24px;">The chili cookoff voting application.</div>
    </div>
    <hr />
    <div class="row">
        <div class="visible-xs text-center"><h3><a href="@controllers.soup.routes.Application.index">Soup</a></h3></div>
        <h3 class="col-sm-2 text-right hidden-xs"><a href="@controllers.soup.routes.Application.index">Soup</a></h3>
        <div class="col-sm-10" style="margin-top: 24px;">The soup cookoff voting application.</div>
    </div>
    <hr />
    <div class="row">
        <div class="visible-xs text-center"><h3><a href="@controllers.vegas.routes.Application.index">Run to Vegas</a></h3></div>
        <h3 class="col-sm-2 text-right hidden-xs"><a href="@controllers.vegas.routes.Application.index">Run To Vegas</a></h3>
        <div class="col-sm-10" style="margin-top: 24px;">A page for keeping record and showing progress for MCIS's Run To Vegas event.</div>
    </div>
    <hr />
</div>
}
