@()

@main {
<script src="@routes.Assets.at("javascripts/mcisCup/js.js")" type="text/javascript"></script>
    
<div>
    <table class="table table-hover">
	<thead>
	    <tr>
		<th></th>
		<!-- ko foreach: competitions -->
		<th data-bind="text: name"></th>
		<!-- /ko -->
	    </tr>
	</thead>
	<tbody>
	    <!-- ko foreach: teams-->
	    <tr>
		<td><span data-bind="text: name"></span> (<span data-bind="text: totalPoints"></span> points)</td>
		<!-- ko foreach: results -->
		<!-- ko if: hasValue -->
		<td><span class="score-popover" data-bind="text: result.pointsEarned, attr: { 'data-content': result.notes }" data-toggle="popover" data-placement="top" data-trigger="hover" data-container="body"></span></td>
		<!-- /ko -->
		<!-- ko ifnot: hasValue -->
		<td data-bind="text: '-'"></td>
		<!-- /ko -->
		<!-- /ko -->
	    </tr>
	    <!-- /ko -->
	</tbody>
    </table>
</div>
	


}
