@()

@main {
<script src="@routes.Assets.at("javascripts/mcisCup/js.js")" type="text/javascript"></script>

<div class="mcis-brand-bar">
    <div class="cup-logo pull-left">
        <span class="font-icon winner"></span>
        MCIS Cup
        <div style="display: none;">
            Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com/free-icon/winner-student-with-competition-trophy-jumping-of-happiness_43572" title="Flaticon">www.flaticon.com</a>
        </div>
    </div>
</div>
<div class="promo-viewer">
    <div class="container">
        <div class="col-md-6">
            <div class="promo-text" data-bind="with: nextCompetitionInfo">
                <div class="promo-text-small">The Competition for <span data-bind="text: $root.month"></span> is...</div>
                <div class="promo-text-large" data-bind="text: name"></div>
		<!-- ko if: $data !== undefined -->
                <a data-bind="click: $root.nextCompetitionDetailsClicked">Details</a>
		<!-- /ko -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="points-leader">
                <div class="title">Current Leader</div>
		<!-- ko if: isTieForLeader -->
                <div class="team-info">
                    <div class="team-name" data-bind="text: 'Tie!'"></div>
                    <div class="team-captain" data-bind="text: tieDisplay()"></div>
                    <div class="points" data-bind="text: tiePoints()"></div>
                    <div class="points-label">points</div>
                </div>
		<!-- /ko -->
		<!-- ko ifnot: isTieForLeader -->
                <div class="team-info" data-bind="with: leader">
                    <div class="team-name" data-bind="text: name()"></div>
                    <div class="team-captain" data-bind="text: captainName()"></div>
                    <div class="points" data-bind="text: totalPoints()"></div>
                    <div class="points-label">points</div>
                </div>
		<!-- /ko -->
            </div>
        </div>
    </div>
    <div class="points-leader-mobile">
        <div class="container container-mobile">
            <div class="title">Current Leader: </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container">
        <!--<ul class="nav nav-tabs" style="margin-bottom: 15px;">-->
            <!--<li class="active"><a href="#standings" data-toggle="tab">Standings</a></li>-->
            <!--<li><a href="#updates" data-toggle="tab">Updates</a></li>-->
        <!--</ul>-->
        <!--<div id="home-tab-content" class="tab-content">-->
            <!--<div class="tab-pane fade active in" id="standings">-->
        <h3>Standings</h3>
	<table class="table table-hover">
	    <thead>
		<tr>
		    <th></th>
		    <!-- ko foreach: competitions -->
		    <th data-bind="text: name"></th>
		    <!-- /ko -->
		</tr>
	    </thead>
	    <tbody>
		<!-- ko foreach: teams-->
		<tr>
		    <td><span data-bind="text: name"></span> (<span data-bind="text: totalPoints"></span> points)</td>
		    <!-- ko foreach: results -->
		    <!-- ko if: hasValue -->
		    <td><span class="score-popover" data-bind="text: result.pointsEarned, attr: { 'data-content': result.notes }" data-toggle="popover" data-placement="top" data-trigger="hover" data-container="body"></span></td>
		    <!-- /ko -->
		    <!-- ko ifnot: hasValue -->
		    <td data-bind="text: '-'"></td>
		    <!-- /ko -->
		    <!-- /ko -->
		</tr>
		<!-- /ko -->
	    </tbody>
	</table>

            <!--</div>-->
            <!--<div class="tab-pane fade in" id="updates">Post videos, pics, announcements, etc here</div>-->
        <!--</div>-->
    </div>
</div>

<div class="modal fade" id="nextCompetitionDetailsModal" data-bind="with: nextCompetitionInfo">
    <div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title"><span data-bind="text: name"></span> Details</h4>
	    </div>
	    <div class="modal-body">
		<!-- ko if: $data !== null && $data.details !== undefined -->
		<p data-bind="text: details"></p>
		<!-- /ko -->
	    </div>
	    <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->








}
